[alias]
    dcw = diff --color-words
    dc = diff --cached
    dcwc = diff --color-words --cached
    nvim = !nvim +'G | only'
    neovide = !neovide +'G | only'
[commit]
    verbose = true
[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    editor = nvim
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[init]
    defaultBranch = main
[merge]
    tool = vimdiff
[pull]
    ff = only
