[alias]
    dcw = diff --color-words
[commit]
    verbose = true
[core]
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    editor = nvim
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
