*.adb diff=ada
*.bib diff=bibtex
*.cpp diff=cpp
*.h diff=cpp
*.cs diff=csharp
*.css diff=css
*.f diff=fortran
*.for diff=fortran
*.f90 diff=fortran
*.f95 diff=fortran
*.f03 diff=fortran
*.f08 diff=fortran
*.f15 diff=fortran
*.fountain diff=fountain
*.html diff=html
*.java diff=java
*.m diff=matlab
*.pp diff=pascal
*.pas diff=pascal
*.inc diff=pascal
*.pl diff=perl
*.pm diff=perl
*.t diff=perl
*.pod diff=perl
*.php diff=php
*.py diff=python
*.rb diff=ruby
*.tex diff=tex
