[alias]
    dcw = diff --color-words
    dc = diff --cached
    dcwc = diff --color-words --cached
[commit]
    verbose = true
[core]
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    editor = nvim
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[init]
    defaultBranch = main
[merge]
    tool = vimdiff
[pull]
    ff = only
